body,
html {
	font-family: sans-serif;
	background-color: #202020;
	color: white;
}

div {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	border: 1px solid black;
	width: 50rem;
	height: 20rem;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

textarea {
	width: 40rem;
	height: 4rem;
	position: relative;
	top: 3rem;
	background-color: #4e4e4e;
	color: white;
}

button {
	position: relative;
	top: 5rem;
	width: 10rem;
	height: 5rem;
	border-radius: 5px;
	background-color: green;
	color: white;
	font-size: 15pt;
}

button:hover {
	background-color: rgb(0, 174, 0);
}

@media (min-width: 1080px) and (min-height: 2246px) {
	div {
		margin-left: 1rem;
		margin-right: 0;
		width: 26rem;
		height: 40rem;
	}
	textarea {
		width: 25rem;
	}
	button {
		top: 10rem;
	}
}

@media (max-width: 750px) {
	div {
		margin-left: 1rem;
		margin-right: 0;
		width: 40rem;
		height: 50rem;
	}
	textarea {
		width: 35rem;
		height: 5rem;
	}

	button {
		top: 10rem;
	}
}

@media (max-width: 414px) {
	div {
		margin-left: 0;
		width: 23rem;
	}
	textarea {
		width: 20rem;
	}
}

@media (max-width: 390px) {
	div {
		width: 13rem;
		height: 25rem;
	}
	textarea {
		width: 12rem;
	}
	button {
		top: 6rem;
		height: 3rem;
	}
}

@media (max-width: 375px) {
	div {
		width: 20rem;
		height: 30rem;
	}
	h1 {
		font-size: 20pt;
	}
	textarea {
		width: 15rem;
	}
	button {
		width: 5rem;
		height: 3rem;
	}
}
